<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title id="title"><ion-icon name="add-circle"></ion-icon> Add Civilization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Name <ion-icon name="arrow-dropright"></ion-icon></ion-label>
      <ion-input [(ngModel)]="civilization.name" id="name" name="name" type="text" placeholder="Enter the name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Expansion <ion-icon name="arrow-dropright"></ion-icon></ion-label>
      <ion-input [(ngModel)]="civilization.expansion" id="expansion" name="expansion" type="text" placeholder="Enter the expansion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Army <ion-icon name="arrow-dropright"></ion-icon></ion-label>
      <ion-input [(ngModel)]="civilization.army" id="army" name="army" type="text" placeholder="Enter the army"></ion-input>
    </ion-item>
  </ion-list>
  <hr>
  <ion-button color="secondary" (click)="postCivs(civilization)" >Add</ion-button>
</ion-content>