.active-item {
    border-left: 8px solid var(--ion-color-primary);
}

#items {
    font-family: 'Press Start 2P', cursive;
}

#name {
    font-family: 'Press Start 2P', cursive;
    color: #7044ff;
}