<ion-split-pane>
  <ion-menu>
    <ion-header>
      <ion-toolbar style="text-align:center;">
        <ion-title><img id="icon" src="https://iconfree.net/uploads/icon/2016/2/2/medieval-castle-buildings-icon-1405-512x512.png" width="50%"></ion-title>
        <ion-label *ngIf="afAuth.authState != null" id="name"><br>Welcome {{afAuth.authState.displayName}}</ion-label>
        <hr>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item *ngFor="let p of pages" id="items" [routerLink]="p.url" routerDirection="forward" [class.active-item]="selectedPath === p.url">
            {{p.title}}
          </ion-item>
          <ion-item id="items" (click)="afAuth.logout()">
            Log Out
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>